{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info bg-success text-white font-weight-bold" type="submit">Post</button>
            <a class="btn btn-outline-danger float-right" href="{% url 'blog-home' %}">Discard</a>
        </div>
    </form>
</div>
{% endblock content %}
